{{!-- <div class="alert alert-success">
  <strong>Success!</strong> Indicates a successful or positive action.
</div> --}}
<br>
{{!-- <button class="btn btn-large btn-primary" data-toggle="confirmation"
        data-btn-ok-label="Continue" data-btn-ok-class="btn-success"
        data-btn-ok-icon-class="material-icons" data-btn-ok-icon-content="check"
        data-btn-cancel-label="Stoooop!" data-btn-cancel-class="btn-danger"
        data-btn-cancel-icon-class="material-icons" data-btn-cancel-icon-content="close"
        data-title="Is it ok?" data-content="This might be dangerous">
  Confirmation
</button> --}}

<br>
<div class="row">
    <div class="col-md-12">
        <h1 class="txt primary center">
            Manage Inmates
        </h1>
        <table class="table stripped responsive">
            <tr>
                <th>Inmate ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Cell</th>
                <th>Next of kin</th>
                <th>Next of Kin Age</th>
                <th>Next of Kin Mail</th>
                <th><button style="background-color:green" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                            Add Inmate
                    </button></th>
                    <th><form class="form-inline active-pink-4">
  <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search">
  <i class="fa fa-search" aria-hidden="true"></i>
</form></th>
            </tr>
            <tbody>
                {{# each inmates}}
                {{!-- {{# each this}} --}}
                <tr>
                    <td>{{this.InmateId}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.age}}</td>
                     <td></td>
                    <td>{{this.nextofKinName}}</td>
                    <td>{{this.nextofKinAge}}</td>
                    <td>{{this.nextofKinMail}}</td>
                    <td><button class="btn btn-small btn-primary" data-toggle="modal" data-target="#{{this.id}}">Edit</button></td>
                        {{!--  --}}
                                               <!-- The Modal -->
                    <div class="modal" id="{{this.id}}">
                    <div class="modal-dialog">
                        <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title center">{{this.name}}</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <form action="/inmate/updateinmate" method="POST">
                                <div class="form-group">
                                    <label for="inputName">Name</label>
                                    <input name="name" type="text" class="form-control" id="inputName" value="{{this.name}}" placeholder="Full name" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="inputName">Next of Kin</label>
                                    <input name="nextofKinName" type="text" class="form-control" value="{{this.nextofKinName}}" id="inputt" placeholder="Next of KIn">
                                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                                    <button type="submit">Submit</button>
                                </div>
                            </form>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>

                        </div>
                    </div>
                    </div>
                        {{!--  --}}
                    <td><a class="btn btn-small btn-danger" href="/inmate/delete/{{this._id}}">delete</a></td>
                </tr>
                {{/each}}
                {{!-- {{/each}} --}}

            </tbody>
            
        </table>
    </div>
</div>

                    <!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Inmate</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form method="post" action="/inmate/add" class="form" role="form" autocomplete="off">
                                <div class="form-group">
                                    <label for="inputName">Name</label>
                                    <input name="name" type="text" class="form-control" id="inputName" placeholder="Full name">
                                </div>
                                <div class="form-group">
                                    <label for="age">Age</label>
                                    <input name="age" type="text" class="form-control" id="age" placeholder="Age">
                                </div>
                                {{!-- <div class="form-group">
                                    <label for="maritalstatus">Marital Status</label>
                                    <input name="maritalstatus" type="text" class="form-control" id="maritalstatus" placeholder="Marital Status">
                                </div> --}}
                                <select name="maritalStatus" class="browser-default custom-select">
                                    <option selected>Marital Status</option>
                                    <option value="1">Single</option>
                                    <option value="2">Married</option>
                                    <option value="3">Engaged</option>
                                </select>
                                 <select class="browser-default custom-select">
                                    <option selected>Cell</option>
                                    
                                </select>
                                <hr class="mb-5">
                                <div class="card-header">
                                    <h3 class="mb-0">Next of Kin Information</h3>
                                </div>
                                <div class="form-group">
                                    <label for="Nname">Name</label>
                                    <input name="nextofKinName" type="text" class="form-control" id="Nname" placeholder="Next of Kin Name">
                                </div>
                                <div class="form-group">
                                    <label for="Nage">Next of Kin Age</label>
                                    <input name="nextofKinAge" type="Number" class="form-control" id="Nage" placeholder="Next of Kin Age">
                                </div>
                                <div class="form-group">
                                    <label for="Nemail">Next of Kin Email</label>
                                    <input name="nextofKinMail" type="mail" class="form-control" id="Nemail" placeholder="Next of Kin Email">
                                </div>
                                <div class="form-group">
                                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                                    <button width="100%" type="submit" class="btn btn-success btn-lg float-right">Add</button>
                                </div>
                            </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>